*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.container {
  max-width:1024px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color:#192a56
}
nav {
  background-color:#575fcf
}
nav li {
  list-style: none;
  display: inline;
}
